amqp
asgiref
autopep8
bidict
billiard
blinker
Brotli
celery
certifi
cffi
charset-normalizer
click
click-didyoumean
click-plugins
click-repl
colorama
ConfigArgParse
cryptography
defusedxml
Django
django-cors-headers
django-debug-toolbar
django-filter
django-redis
django-silk
django-templated-mail
djangorestframework
djangorestframework_simplejwt
dj_rest_auth
djoser
docopt
dotenv
drf-nested-routers
Flask
flask-cors
Flask-Login
flower
gevent
geventhttpclient
gprof2dot
greenlet
gunicorn
h11
humanize
idna
iniconfig
itsdangerous
Jinja2
kombu
MarkupSafe
model-bakery
msgpack
# mysqlclient
oauthlib
packaging
pillow
platformdirs
pluggy
prometheus_client
prompt_toolkit
psutil
pycodestyle
pycparser
Pygments
PyJWT
pytest
pytest-django
pytest-watch
python-dateutil
python-dotenv
python-engineio
python-socketio
python3-openid
pytz
pyzmq
redis
requests
requests-oauthlib
setuptools
simple-websocket
six
social-auth-app-django
social-auth-core
sqlparse
tornado
tzdata
urllib3
vine
watchdog
wcwidth
websocket-client
Werkzeug
whitenoise
wsproto
zope.event
zope.interface
dj-database-url
psycopg2-binary